//- includes/head.pug
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='CDM Tecnoconsulting Spa - Gruppo Lutech')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(rel='apple-touch-icon', href='/images/icon.png')
  link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
  meta(name='theme-color', content='#6394BF')
  meta(name='msapplication-navbutton-color', content='#6394BF')

  link(href='/css/bootstrap/bootstrap.min.css', rel='stylesheet')
  link(href='/css/fontawesome/all.min.css', rel='stylesheet')
  link(href='/css/style.css', rel='stylesheet')
  script(src='/js/jquery/jquery.min.js')
  script(src='/js/bootstrap/bootstrap.min.js')
  